
.add-worker-container {
  width: 90%;
  margin: 0 auto;
  max-width: 400px;
  padding: 3em 0;
}
#signArea{
  background-color: white;
}
.signCanvas{
  background-color: white;
}
.signDiv{
text-align: center;
word-wrap: break-word;
}